@import "../../styles/mixins.scss";

.reviewCardCard{
    @include flexCol;
    width: 429px;
    gap: 8px;
    border-radius: 32px;
    background: $color-background-light;
    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .reviewHeader{
        @include flexRow;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px 0 16px;

        .header{
            color: var(--Dark-Gray, $color-dark-gray);
            font-family: $font-primary;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .subHeader{
            color: var(--Dark-Gray, $color-dark-gray);
            font-family: $font-secondary-regular;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .reviewImg{
            width: 64px;
            height: 64px;
            @media screen and (max-width: 768px) {
                width: 48px;
                height: 48px;
            }
        }
    }
    .ratingContainer{
        @include flexRow;
        gap: 8px;
        align-items: center;
        padding: 0 16px;
    }
   

    .reviewImage{
        width: 429px;
        height: 325px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (max-width: 768px) {
            width: auto;
            height: 229px;
            align-self: stretch;
        }

    }
}
