@import '../../styles/mixins.scss';

.rootContainer {
  .label {
    font-family: $font-secondary-regular;
    font-size: 16px;
    font-weight: 600;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  .header {
    font-family: $font-primary;
    font-size: 32px;
    font-weight: 600;
  }
  .input {
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid $color-dark-gray;
    height: 48px;
    padding: 10px;
    width: 100%;
    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: column;
    }
  }

  .checkoutContainer {
    @include flexRow;
    gap: 20px;
    margin: 20px;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 100%;

    @media screen and (max-width: 768px) {
      @include flexCol;
      margin: 16px;
      gap: 16px;
      overflow-x: hidden;
    }
    .shipRootContainer {
      @include flexCol;
      width: 50%;
      gap: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .contactContainer {
      }

      .shippingContainer {
        .form {
          .handleStyle {
            @include flexRow;
            gap: 20px;
            .input {
              margin-top: 16px;
              border-radius: 8px;
              border: 1px solid $color-dark-gray;
              height: 48px;
              width: 100%;
              @media screen and (max-width: 768px) {
                width: 100%;
                flex-direction: column;
              }
            }
          }

          .deliveryContainer {
            @include flexCol;
            gap: 20px;
            margin-top: 20px;

            .deliveryDetailsContainer {
              @include flexRow;
              justify-content: space-between;
              align-items: flex-start;
              border: 1px solid $color-black;
              padding: 16px;
              border-radius: 15px;

              .header {
                font-family: $font-primary;
                font-size: 24px;
                font-weight: 600;
                @media screen and (max-width: 768px) {
                  font-size: 16px;
                }
              }

              .label {
                @media screen and (max-width: 768px) {
                  font-size: 14px;
                }
              }

              .amount {
                font-family: $font-primary;
                font-size: 20px;
                font-weight: 600;
                color: $color-primary;
                @media screen and (max-width: 768px) {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
