@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}


@mixin skeleton($bg: #e0e0e0, $shimmer: rgba(255, 255, 255, 0.6)) {
  background-color: $bg;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      $shimmer,
      transparent
    );
    animation: shimmer 1.2s infinite;
  }
}